{{#each jobsList}}
  <div class="offers-list__offer">

    <div class="offers-list__entity">
      <img src="/assets/logos/{{subsidiaryLogo subsidiary}}">
    </div>  

    <div class="offers-list__content">
      <div class="offers-list__label">{{label}}</div>
      <div class="offers-list__details">
        Place&nbsp;:&nbsp;{{place}},
        Agreement&nbsp;:&nbsp;{{contract}}
      </div>
    </div>

    <div class="offers-list__link">
      <a href="/en/job-vacancies/{{id}}/{{slug}}" class="gp-button gp-button--gray gp-button--small">Read more</a>
    </div>

  </div>
{{/each}}