<div class="heading-panel">
  <div class="container">
    <div class="contact-info pull-xs-left">
    </div>
    <ul class="inline-list pull-xs-right">
      <li><a href="https://facebook.com/Groupe-Poisson-413266462212509/" target="_blank" class="icon icon-xs icon-default fa-facebook"></a></li>
      <li><a href="https://www.youtube.com/channel/UCxGG67ph3Ihlzhm9UR5FUYQ" target="_blank" class="icon icon-xs icon-default fa-youtube-play"></a></li>
      <li><a href="https://www.linkedin.com/in/groupepoisson" target="_blank" class="icon icon-xs icon-default fa-linkedin"></a></li>
    </ul>
  </div>
</div>

<div id="stuck_container" class="stuck_container">
  <div class="container">

    <nav class="navbar navbar-default navbar-static-top ">

      <div class="navbar-header">
        <h1 class="navbar-brand">
          <a href="/en/">
            <span class="navbar-brand__icon navbar-brand__logo-groupe-poisson"></span>
          </a>
        </h1>
      </div>

      <ul class="navbar-nav sf-menu navbar-right" data-type="navbar">
        <li class="{{menuActive menu "index"}}">
          <a href="/en/index.html">Accueil</a>
        </li>

        <li class="dropdown {{menuActive menu "le-groupe"}}">
          <a href="/en/the-group.html">Le Groupe</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/the-group.html#qui-sommes-nous">Qui&nbsp;sommes-nous&nbsp;?</a>
            </li>
            <li>
              <a href="/en/the-group.html#nos-poles">Nos pôles</a>
            </li>
            <li>
              <a href="/en/the-group.html#historique">Historique</a>
            </li>
            <li>
              <a href="/en/the-group.html#infographie">Infographie</a>
            </li>
            <li>
              <a href="/en/the-group.html#implantations">Implantations</a>
            </li>
          </ul>
        </li>
        
        <li class="dropdown {{menuActive menu "nos-metiers"}}">
          <a href="#">Nos Métiers</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/civil-works.html">Travaux</a>
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="/en/axel-duval.html">Axel Duval</a>
                </li>
                <li>
                  <a href="/en/axel-sud.html">Axel Sud</a>
                </li>
                <li>
                  <a href="http://www.selectcivil.com.au/" target="_blank">Select Civil</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/en/rentals.html">Location</a>
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="/en/morel.html">Morel</a>
                </li>
                <li>
                  <a href="/en/terre-net.html">Terre-net Groupe Poisson</a>
                </li>
                <li>
                  <a href="http://www.selectcivil.com.au/" target="_blank">Select Civil</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/en/services.html">Services</a>
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="/en/akela-interim.html">Akela Intérim</a>
                </li>
                <li>
                  <a href="/en/brein-transports.html">Brein Transports</a>
                </li>
                <li>
                  <a href="/en/maintenance-service.html">Maintenance&nbsp;Service</a>
                </li>
                <li>
                  <a href="https://www.marcelequipment.com/" target="_blank">Marcel Equipment Limited</a>
                </li>
                <li>
                  <a href="/en/poisson-formation.html">Poisson Formation</a>
                </li>
                <li>
                  <a href="/en/terre-durable.html">Terre-durable</a>
                </li>
                <li>
                  <a href="/en/sndm.html">SNDM</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="{{menuActive menu "actualites"}}">
          <a href="/en/toutes-nos-actualites.html">Actualités</a>
        </li>

        <li class="dropdown {{menuActive menu "recrutement"}}">
          <a href="/en/recrutement.html">Recrutement</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/en/recrutement.html">Rejoignez-nous</a>
            </li>
            <li>
              <a href="/en/offres-emploi.html">Nos offres d'emplois</a>
            </li>
          </ul>
        </li>


        <li class="{{menuActive menu "contact"}}">
          <a href="/en/contact-us.html">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>