<div class="heading-panel">
  <div class="container">
    <ul class="inline-list pull-xs-left language-switch">
      <li>
        <a href="/" class="is-active"><span class="flag-icon flag-icon-fr"></span></a>
        <a href="/" class="is-active">Français</a>
      </li>
      <li>
        <a href="/en"><span class="flag-icon flag-icon-gb"></span></a>
        <a href="/en">English</a>
      </li>
    </ul>
    <ul class="inline-list pull-xs-right">
      <li><a href="https://facebook.com/Groupe-Poisson-413266462212509/" target="_blank" class="icon icon-xs icon-default fa-facebook"></a></li>
      <li><a href="https://www.youtube.com/channel/UCxGG67ph3Ihlzhm9UR5FUYQ" target="_blank" class="icon icon-xs icon-default fa-youtube-play"></a></li>
      <li><a href="https://www.linkedin.com/in/groupepoisson" target="_blank" class="icon icon-xs icon-default fa-linkedin"></a></li>
    </ul>
  </div>
</div>

<div id="stuck_container" class="stuck_container">
  <div class="container">

    <nav class="navbar navbar-default navbar-static-top ">

      <div class="navbar-header">
        <h1 class="navbar-brand">
          <a href="/">
            <span class="navbar-brand__icon navbar-brand__logo-groupe-poisson"></span>
          </a>
        </h1>
      </div>

      <ul class="navbar-nav sf-menu navbar-right" data-type="navbar">
        <li class="{{menuActive menu "index"}}">
          <a href="/index">Accueil</a>
        </li>

        <li class="dropdown {{menuActive menu "le-groupe"}}">
          <a href="/le-groupe">Le Groupe</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/le-groupe#qui-sommes-nous">Qui&nbsp;sommes-nous&nbsp;?</a>
            </li>
            <li>
              <a href="/le-groupe#nos-poles">Nos pôles</a>
            </li>
            <li>
              <a href="/le-groupe#historique">Historique</a>
            </li>
            <li>
              <a href="/le-groupe#infographie">Infographie</a>
            </li>
            <li>
              <a href="/le-groupe#implantations">Implantations</a>
            </li>
          </ul>
        </li>
        
        <li class="dropdown {{menuActive menu "nos-metiers"}}">
          <a href="#">Nos Métiers</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/travaux">Travaux</a>
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="/axel-duval">Axel Duval</a>
                </li>
                <li>
                  <a href="/axel-sud">Axel Sud</a>
                </li>
                <li>
                  <a href="http://www.selectcivil.com.au/" target="_blank">Select Civil</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/location">Location</a>
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="/morel">Morel</a>
                </li>
                <li>
                  <a href="/terre-net">Terre-net Groupe Poisson</a>
                </li>
                <li>
                  <a href="http://www.selectcivil.com.au/" target="_blank">Select Civil</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/services">Services</a>
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="/akela-interim">Akela Intérim</a>
                </li>
                <li>
                  <a href="/akela-consulting">Akela Consulting</a>
                </li>
                <li>
                  <a href="/brein-transports">Brein Transports</a>
                </li>
                <li>
                  <a href="/maintenance-service">Maintenance&nbsp;Service</a>
                </li>
                <li>
                  <a href="https://www.marcelequipment.com/" target="_blank">Marcel Equipment Limited</a>
                </li>
                <li>
                  <a href="/poisson-formation">Poisson Formation</a>
                </li>
                <li>
                  <a href="/terre-durable">Terre-durable</a>
                </li>
                <li>
                  <a href="/sndm">SNDM</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="{{menuActive menu "actualites"}}">
          <a href="/toutes-nos-actualites">Actualités</a>
        </li>

        <li class="dropdown {{menuActive menu "recrutement"}}">
          <a href="/recrutement">Recrutement</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/recrutement">Rejoignez-nous</a>
            </li>
            <li>
              <a href="/offres-emploi">Nos offres d'emplois</a>
            </li>
          </ul>
        </li>


        <li class="{{menuActive menu "contact"}}">
          <a href="/nous-contacter">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>